.colornav{
    background-color: rgb(5,175,119);
    
}

nav .container ul li a {
    color: #f7fbfcf5;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.ImagenCarrito {
    width: 3vw;
  

}



.HoverCard{
    display: flex;
    filter: invert(1);
}


.HoverCard:hover{
   
    cursor: pointer;
    filter: invert(0);
}

