.contenedor{
  text-align: center;
 
  color: red;
  display: flex;
  width: 200px;
  height: 200px;
  border: solid black 1px;
}

.contenedor h1 {
  text-align: center;
  font-size: 1rem; 
}

.cont{
  display: flex;
  
}